#highlights_text {
    background-color: #ADFF2F;
}

#tbl_search_result th {
   text-align: center;
}

#tbl_search_result td  {
    vertical-align: middle;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#div_search_result {
    width: 100%;
}

#tbl_search_result{
    table-layout: fixed;
    width:100%
}

/* Search form*/
#div_search_form {
   margin-top: 10px;
    margin-bottom: 15px;
}

/* Parameters for the first column */
#col_id, #col_comment_id {
    width: 70px;
    text-align: center;
}

#col_summary {
    width: 15%;
}
